body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.header {
    background: radial-gradient(circle, rgba(64,251,63,1) 0%, rgba(21,69,6,1) 100%);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content:space-around;
}

.header h1 {
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-panel {
    height: 120px;
    width: 15%;
    /* background: radial-gradient(circle, rgba(64,251,63,1) 0%, rgba(21,69,6,1) 100%); */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.left-panel h2 {
    margin-bottom: 20px;
}

.left-panel button {
    padding: 10px 20px;
    background-color: #088b15;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.chat-container {
    width: 78%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background: #f9f9f9;
}
.logo img{
    height: 40px;
}
.input-box {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}

.send-btn {
    padding: 10px;
    background: #088b15;
    color: white;
    border: none;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 9px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}